# Preparing datasets

Let's get started by loading two datasets:

In [1]:
import pandas as pd
import numpy as np

dataset_1 = pd.read_csv('DM_1.csv', encoding='latin1')
dataset_2 = pd.read_csv('DM_2.csv', encoding='latin1')

In [2]:
dataset_1

,Name,Email,City,Salary
0,Brent Hopkins,Cum.sociis.natoque@aodiosemper.edu,Mount Pearl,38363
1,Colt Bender,Vivamus.non.lorem@Proin.org,Castle Douglas,21506
2,Arthur Hammond,nisl.Maecenas@sed.net,Biloxi,27511
3,Sean Warner,enim.nisl.elementum@Vivamus.edu,Moere,25201
4,Tate Greene,velit.justo.nec@aliquetlobortisnisi.edu,Ipswich,35052
5,Gavin Gibson,cursus.Integer.mollis@Duissitamet.org,Oordegem,37126
6,Kelly Garza,cursus.non.egestas@antebibendum.ca,Kukatpalle,39420
7,Zane Preston,sed@Phasellusataugue.com,Neudrfl,28553
8,Cole Cunningham,ac.mattis.ornare@inmagna.co.uk,Catemu,27972
9,Tarik Hendricks,Mauris.vestibulum@sodales.ca,Newbury,39027
10,Elvis Collier,pede@mattisvelit.org,Paradise,22568
11,Jackson Huber,eros.nec.tellus@ultricesposuere.edu,Veere,29922
12,Macaulay Cline,Aliquam@arcuSedeu.edu,Campobasso,24163
13,Elijah Chase,est.mollis.non@in.net,Grantham,23881
14,Dennis Anthony,mauris.ut.mi@maurisid.co.uk,Cedar Rapids,27969
15,Fulton Snyder,enim.mi@egestas.ca,San Pedro,21594
16,Leo Willis,massa.lobortis@mattisornare.edu,Kester,31203
17,Matthew Hooper,libero@Nuncullamcorper.net,Bellefontaine,33222
18,Todd Jones,ipsum.Phasellus@ultrices.ca,Toledo,24809
19,Palmer Byrd,faucibus.orci@necquam.org,Bissegem,29045

In [3]:
dataset_2

        Colt       BENDER  252
0     Arthur      HAMMOND  138
1      Gavin       GIBSON  146
2      Kelly        GARZA  212
3       Zane      PRESTON  234
4       Zane      PRESTON  178
5      Tarik    HENDRICKS  195
6      Elvis      COLLIER   95
7      Elvis      COLLIER  101
8      Elvis      COLLIER  258
9     Dennis      ANTHONY  254
10    Fulton       SNYDER  107
11       Leo       WILLIS  294
12  Frederik  HUMBLEDERRY  299

As you can see, the second dataset does not have column headers. We can add them as follows:

In [4]:
cols = ['First name', 'Last name', 'Days active']
dataset_2 = pd.read_csv('DM_2.csv', names=cols, encoding='latin1')
dataset_2

   First name    Last name  Days active
0        Colt       BENDER          252
1      Arthur      HAMMOND          138
2       Gavin       GIBSON          146
3       Kelly        GARZA          212
4        Zane      PRESTON          234
5        Zane      PRESTON          178
6       Tarik    HENDRICKS          195
7       Elvis      COLLIER           95
8       Elvis      COLLIER          101
9       Elvis      COLLIER          258
10     Dennis      ANTHONY          254
11     Fulton       SNYDER          107
12        Leo       WILLIS          294
13   Frederik  HUMBLEDERRY          299

We can convert the second dataset to only have one column for names:

In [5]:
# .title() can be used to only make the first letter a capital
names = [dataset_2.loc[i,'First name'] + " " + dataset_2.loc[i,'Last name'].title() for i in range(0, len(dataset_2))]

# Make a new column for the name
dataset_2['Name'] = names

# Remove the old columns
dataset_2 = dataset_2.drop(['First name', 'Last name'], axis=1)
dataset_2

    Days active                  Name
0           252           Colt Bender
1           138        Arthur Hammond
2           146          Gavin Gibson
3           212           Kelly Garza
4           234          Zane Preston
5           178          Zane Preston
6           195       Tarik Hendricks
7            95         Elvis Collier
8           101         Elvis Collier
9           258         Elvis Collier
10          254        Dennis Anthony
11          107         Fulton Snyder
12          294            Leo Willis
13          299  Frederik Humblederry

## Bringing together the datasets

Now the datasets are compatible, we can merge them in a few different ways.

### Left join

A left join starts from the left dataset, in this case ```dataset_1```, and for every row matches the value in the column used for joining. As you will see, the result has 22 rows, since some names appear multiple times in the second dataset ```dataset_2```.

In [6]:
both = pd.merge(dataset_1, dataset_2, on='Name', how='left')
both

,Name,Email,City,Salary,Days active
0,Brent Hopkins,Cum.sociis.natoque@aodiosemper.edu,Mount Pearl,38363,NaN
1,Colt Bender,Vivamus.non.lorem@Proin.org,Castle Douglas,21506,252.0
2,Arthur Hammond,nisl.Maecenas@sed.net,Biloxi,27511,138.0
3,Sean Warner,enim.nisl.elementum@Vivamus.edu,Moere,25201,NaN
4,Tate Greene,velit.justo.nec@aliquetlobortisnisi.edu,Ipswich,35052,NaN
5,Gavin Gibson,cursus.Integer.mollis@Duissitamet.org,Oordegem,37126,146.0
6,Kelly Garza,cursus.non.egestas@antebibendum.ca,Kukatpalle,39420,212.0
7,Zane Preston,sed@Phasellusataugue.com,Neudrfl,28553,234.0
8,Zane Preston,sed@Phasellusataugue.com,Neudrfl,28553,178.0
9,Cole Cunningham,ac.mattis.ornare@inmagna.co.uk,Catemu,27972,NaN
10,Tarik Hendricks,Mauris.vestibulum@sodales.ca,Newbury,39027,195.0
11,Elvis Collier,pede@mattisvelit.org,Paradise,22568,95.0
12,Elvis Collier,pede@mattisvelit.org,Paradise,22568,101.0
13,Elvis Collier,pede@mattisvelit.org,Paradise,22568,258.0
14,Jackson Huber,eros.nec.tellus@ultricesposuere.edu,Veere,29922,NaN
15,Macaulay Cline,Aliquam@arcuSedeu.edu,Campobasso,24163,NaN
16,Elijah Chase,est.mollis.non@in.net,Grantham,23881,NaN
17,Dennis Anthony,mauris.ut.mi@maurisid.co.uk,Cedar Rapids,27969,254.0
18,Fulton Snyder,enim.mi@egestas.ca,San Pedro,21594,107.0
19,Leo Willis,massa.lobortis@mattisornare.edu,Kester,31203,294.0
20,Matthew Hooper,libero@Nuncullamcorper.net,Bellefontaine,33222,NaN
21,Todd Jones,ipsum.Phasellus@ultrices.ca,Toledo,24809,NaN
22,Palmer Byrd,faucibus.orci@necquam.org,Bissegem,29045,NaN

### Right join

A right join does the opposite: now, ```dataset_2``` is used to match all names with the corresponding observations in ```dataset_1```. There are as many observations as there are in ```dataset_2```, as the rows in ```dataset_1``` are unique. The last row cannot be matched with any observation in ```dataset_1```.

In [7]:
both = pd.merge(dataset_1, dataset_2, on='Name', how='right')
both

,Name,Email,City,Salary,Days active
0,Colt Bender,Vivamus.non.lorem@Proin.org,Castle Douglas,21506.0,252
1,Arthur Hammond,nisl.Maecenas@sed.net,Biloxi,27511.0,138
2,Gavin Gibson,cursus.Integer.mollis@Duissitamet.org,Oordegem,37126.0,146
3,Kelly Garza,cursus.non.egestas@antebibendum.ca,Kukatpalle,39420.0,212
4,Zane Preston,sed@Phasellusataugue.com,Neudrfl,28553.0,234
5,Zane Preston,sed@Phasellusataugue.com,Neudrfl,28553.0,178
6,Tarik Hendricks,Mauris.vestibulum@sodales.ca,Newbury,39027.0,195
7,Elvis Collier,pede@mattisvelit.org,Paradise,22568.0,95
8,Elvis Collier,pede@mattisvelit.org,Paradise,22568.0,101
9,Elvis Collier,pede@mattisvelit.org,Paradise,22568.0,258
10,Dennis Anthony,mauris.ut.mi@maurisid.co.uk,Cedar Rapids,27969.0,254
11,Fulton Snyder,enim.mi@egestas.ca,San Pedro,21594.0,107
12,Leo Willis,massa.lobortis@mattisornare.edu,Kester,31203.0,294
13,Frederik Humblederry,NaN,NaN,NaN,299

### Inner and outer join

It is also possible to retain only the values that are matched in both tables, or match any value that matches. This is using an inner and outer join respectively.

In [8]:
both = pd.merge(dataset_1, dataset_2, on='Name', how='inner')
both

,Name,Email,City,Salary,Days active
0,Colt Bender,Vivamus.non.lorem@Proin.org,Castle Douglas,21506,252
1,Arthur Hammond,nisl.Maecenas@sed.net,Biloxi,27511,138
2,Gavin Gibson,cursus.Integer.mollis@Duissitamet.org,Oordegem,37126,146
3,Kelly Garza,cursus.non.egestas@antebibendum.ca,Kukatpalle,39420,212
4,Zane Preston,sed@Phasellusataugue.com,Neudrfl,28553,234
5,Zane Preston,sed@Phasellusataugue.com,Neudrfl,28553,178
6,Tarik Hendricks,Mauris.vestibulum@sodales.ca,Newbury,39027,195
7,Elvis Collier,pede@mattisvelit.org,Paradise,22568,95
8,Elvis Collier,pede@mattisvelit.org,Paradise,22568,101
9,Elvis Collier,pede@mattisvelit.org,Paradise,22568,258
10,Dennis Anthony,mauris.ut.mi@maurisid.co.uk,Cedar Rapids,27969,254
11,Fulton Snyder,enim.mi@egestas.ca,San Pedro,21594,107
12,Leo Willis,massa.lobortis@mattisornare.edu,Kester,31203,294

Notice how observation 12 is missing, as there is no corresponding value in ```dataset_1```.

In [9]:
both = pd.merge(dataset_1, dataset_2, on='Name', how='outer')
both

,Name,Email,City,Salary,Days active
0,Brent Hopkins,Cum.sociis.natoque@aodiosemper.edu,Mount Pearl,38363.0,NaN
1,Colt Bender,Vivamus.non.lorem@Proin.org,Castle Douglas,21506.0,252.0
2,Arthur Hammond,nisl.Maecenas@sed.net,Biloxi,27511.0,138.0
3,Sean Warner,enim.nisl.elementum@Vivamus.edu,Moere,25201.0,NaN
4,Tate Greene,velit.justo.nec@aliquetlobortisnisi.edu,Ipswich,35052.0,NaN
5,Gavin Gibson,cursus.Integer.mollis@Duissitamet.org,Oordegem,37126.0,146.0
6,Kelly Garza,cursus.non.egestas@antebibendum.ca,Kukatpalle,39420.0,212.0
7,Zane Preston,sed@Phasellusataugue.com,Neudrfl,28553.0,234.0
8,Zane Preston,sed@Phasellusataugue.com,Neudrfl,28553.0,178.0
9,Cole Cunningham,ac.mattis.ornare@inmagna.co.uk,Catemu,27972.0,NaN
10,Tarik Hendricks,Mauris.vestibulum@sodales.ca,Newbury,39027.0,195.0
11,Elvis Collier,pede@mattisvelit.org,Paradise,22568.0,95.0
12,Elvis Collier,pede@mattisvelit.org,Paradise,22568.0,101.0
13,Elvis Collier,pede@mattisvelit.org,Paradise,22568.0,258.0
14,Jackson Huber,eros.nec.tellus@ultricesposuere.edu,Veere,29922.0,NaN
15,Macaulay Cline,Aliquam@arcuSedeu.edu,Campobasso,24163.0,NaN
16,Elijah Chase,est.mollis.non@in.net,Grantham,23881.0,NaN
17,Dennis Anthony,mauris.ut.mi@maurisid.co.uk,Cedar Rapids,27969.0,254.0
18,Fulton Snyder,enim.mi@egestas.ca,San Pedro,21594.0,107.0
19,Leo Willis,massa.lobortis@mattisornare.edu,Kester,31203.0,294.0
20,Matthew Hooper,libero@Nuncullamcorper.net,Bellefontaine,33222.0,NaN
21,Todd Jones,ipsum.Phasellus@ultrices.ca,Toledo,24809.0,NaN
22,Palmer Byrd,faucibus.orci@necquam.org,Bissegem,29045.0,NaN
23,Frederik Humblederry,NaN,NaN,NaN,299.0

In the last table, we have 23 rows, as both matching and non-matching values are returned.

Now that you have seen one way to merge datasets, spend some time experimenting to discover other quicker, easier or preferable ways to achieve the same result.